.banner{
    background-position: center center;
    background-size: cover;
    height: 60%;
}



.banner-title{
    font-size: 4em;
    color: #fff;
    background: linear-gradient(0deg, rgb(0, 0, 0) -15%, rgba(255, 255, 255,0) 20%, rgba(0, 0, 0,0) 50%, rgba(255, 255, 243,0) 85%, rgb(0, 0, 0) 115%);
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 6em;
}

.route-tip{
    color: #5a5a5a;
}

.paragraph{
color: #666;
    font: 1.2em "Microsoft Yahei";
    line-height: 1.8em;
    text-align: justify;
    text-indent: 2em;
}

.timeline{
        font-weight: 900;
    color: #000;
    font-family: sans-serif;
}


h1{
    text-indent: 1em;
    color: #333;
}
h3{
    text-indent: 2em;
    color: #333;
}
.fullscreen{
    transform: translateX(-15%);
    width: calc(10000% / 70);
}

.relative{
    position: relative;
}
@media screen and (max-width: 500px){
    .banner{
        height: 40%;
    }
    .banner-title {
        font-size: 3em;
        line-height: 6em;
    }

    .width-45{
        width: 100% !important;
    } 

    .landing-photo{
    display: none !important;
}

}